<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.ui.commands">
		<category description="" id="a"
			name="EI Commands">
		</category>
		
		<command categoryId="a"
			description="testing" 
			id="br.ufal.cideei.commands.ei.tst"
			name="TST">
		</command>

		<command categoryId="a"
			description="Computes emergent interface for the reaching refinitions analysis" 
			id="br.ufal.cideei.commands.ei.rd"
			name="Compute EI (RD)">
		</command>

		<command categoryId="a"
			description="Computes emergent interface for the uninitialized variables analysis"
			id="br.ufal.cideei.commands.ei.uv" 
			name="Compute EI (UV)">
		</command>
		
		<command categoryId="a"
			description="Computes emergent interface for the coa analysis" 
			id="br.ufal.cideei.commands.ei.coa"
			name="Compute EI (CoA)">
		</command>
		
		<command categoryId="a"
			description="Computes emergent interface for the bfa analysis" 
			id="br.ufal.cideei.commands.ei.bfa"
			name="Compute EI (BFA)">
		</command>
	</extension>

	<extension point="org.eclipse.ui.handlers">
		<handler class="br.ufal.cideei.handlers2.TccBenchmark"
			commandId="br.ufal.cideei.commands.ei.tst" name="Handler for rd command">
		</handler>
	
		<handler class="br.ufal.cideei.handlers2.ReachingDefinitionsHandler"
			commandId="br.ufal.cideei.commands.ei.rd" name="Handler for rd command">
		</handler>

		<handler class="br.ufal.cideei.handlers2.UninitializedVariablesHandler"
			commandId="br.ufal.cideei.commands.ei.uv" name="Handler for uv command">
		</handler>
		
		<handler class="br.ufal.cideei.handlers2.ChainOfAssignments"
			commandId="br.ufal.cideei.commands.ei.coa" name="Handler for coa command">
		</handler>
		
		<handler class="br.ufal.cideei.handlers2.BrokenFlow"
			commandId="br.ufal.cideei.commands.ei.bfa" name="Handler for bfa command">
		</handler>
	</extension>

	<extension point="org.eclipse.ui.menus">
	<menuContribution locationURI="popup:#CompilationUnitEditorContext">
			<command commandId="br.ufal.cideei.commands.ei.tst"/>
		</menuContribution>
	
		<menuContribution locationURI="popup:#CompilationUnitEditorContext">
			<command commandId="br.ufal.cideei.commands.ei.rd"/>
		</menuContribution>

		<menuContribution locationURI="popup:#CompilationUnitEditorContext">			
			<command commandId="br.ufal.cideei.commands.ei.uv"/>
		</menuContribution>
		
		<menuContribution locationURI="popup:#CompilationUnitEditorContext">			
			<command commandId="br.ufal.cideei.commands.ei.coa"/>
		</menuContribution>
		
		<menuContribution locationURI="popup:#CompilationUnitEditorContext">			
			<command commandId="br.ufal.cideei.commands.ei.bfa"/>
		</menuContribution>
	</extension>

</plugin>
